name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout código
      uses: actions/checkout@v4

    - name: Configurar Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - name: Instalar dependências
      run: npm install

    - name: Executar testes do controller
      run: npm run test-controller

    - name: Subir a API
      run: npm start &

    - name: Esperar a API funcionar
      run: sleep 5

    - name: Executar testes via HTTP
      run: npm run test-external